body {
    background-color: #778899;
}


.main-content {
    width: 1350px;
    padding: 25px;
    border: 25px solid navy;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0E68C
}


h1 {
    text-align: center;
}
