body {
    background-color: #C0C0C0;
}


.main-content {
    width: 1350px;
    padding: 25px;
    border: 25px solid purple;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFCC66
}


h1 {
    text-align: center;
}
